body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    font-size: 80px;
    color: #333;
}

h2 {
    font-size: 40px;
    color: #333;
}

.container{
    width: 80%; 
    margin: 0 auto;
    max-width: 800px;
}

p {
    color: #666;
}
